:root {
    --prmary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --black-color: #000000;
    --bg-main-color: #f5f5f5;
    --bg-our-color: #f5f4fa;
    --bg-footer-color: #2f303a;
    --footer-address-rgba: rgba(255, 255, 255, .6);
    --border: #eeeeee;
    --border-bottom: #ececec;
}

body {
    color: var(--prmary-text-color);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.plan {
    padding-top: 94px;
    padding-bottom: 94px
}

.top {
    display: flex;
}

.main-header {
    border-bottom: 1px solid var(--border);
}

.header-logo {
    display: block;
    padding: 24px 0;
    color: var(--black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;
    margin-left: 200px;
}

.header-logo-blue {
    color: var(--accent-color);
}

.top-menu {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 93px;
}

.navigation-list {
    list-style: none;
    display: flex;
}

.navigation-item-current {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
    margin-left: 93px;
}

.navigation-item-port {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
    margin-left: 93px;
}

.navigation-item-port:hover,
.navigation-item-port:focus {
    color: var(--accent-color);
}

.navigation-item-current:hover,
.navigation-item-current:focus {
    color: var(--accent-color);
}

.navigation-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
}

.navigation-item-current-port {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
}

.navigation-list .item+.item {
    margin-left: 50px;
}

.navigation-item:hover,
.navigation-item:focus {
    color: var(--accent-color);
}

.contact-list {
    list-style: none;
    display: flex;
    margin-left: 344px;
}

.contact-item {
    color: var(--prmary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    display: block;
    padding: 32px 0;
    margin-right: 50px;
}

.contact-item:hover,
.contact-item:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--bg-footer-color);
    padding: 200px 0;
}

.hero .container {
    width: 696px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.btn {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: block;
    border: 0;
    padding: 10px 32px;
    margin: 30px auto 0 auto;
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    background-color: #188CE8;
}

.features-title {
    display: none;
}

.plan {}

.conteiner .features-list {
    display: flex;
}

.features-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.features-list {
    list-style: none;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.p-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--prmary-text-color);
}

.features-list .item {
    margin-right: 30px;
    flex-basis: auto;
}

.features-list .item :last-child {
    margin: 0;
}

.job {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}


.list-job {
    display: flex;
    list-style: none;
}

.list-job .item {
    margin-right: 30px;
    margin-bottom: 94px;
}

.img {
    border-radius: 0px;
    text-align: center;
}


.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding: 94px 0 50px 0;
}

.list-workers {
    list-style: none;
    display: flex;
}


.team {
    background: var(--bg-our-color);
}

.list-workers {
    list-style: none;
    display: flex;
    align-items: center;
}

.team-item {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 370px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    margin-bottom: 94px;
}

.team-item:last-child {
    margin-right: 0px;
}

.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
}

.p-job {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--prmary-text-color);
}

.footer {
    background: var(--bg-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration-line: none;
    display: block;
    margin-bottom: 20px;
    margin-left: 200px;
}

.contact-list-footer {
    list-style: none;
}

.contact-item-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-left: 200px
}

.footer-address .contact-item-address .contact-item-footer+.contact-item-footer {
    margin-top: 9px;
}

.contact-item-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 200px
}

.footer-link-address {
    text-decoration-line: none;
    color: var(--footer-address-rgba);
}

.footer-link-address:hover,
.footer-link-address:focus {
    color: var(--white-color);
}

.footer-link {
    text-decoration-line: none;
    color: var(--footer-address-rgba);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--white-color);
}

/* .................PORTFOLIO PAGE................. */

.gallery {}

.gallery-title {
    display: none;

}

.filter {
    list-style: none;
    display: flex;
}

.filter .item {
    margin-left: 8px;
    margin-top: 94px;
}

.filter .item:(:last-child){
margin-left: 8px;
}
.conteiner .filter {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    justify-content: center;
}

.filter-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--bg-our-color);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}


.port-img .content-item {
    padding: 20px 24px;
    
}

.content-item {
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.item-card {margin-right: 30px;
    margin-bottom: 30px;
}

.port-img .gallery-list {
    flex-wrap: wrap;
    display: flex;
    
}

.port-img {
    flex-basis: calc(100% - 60px)/ 3);
    
}

.port-img .item-card:nth-child(3n) {
    margin-right: 0px;
}

.port-img .item-card:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.gallery-list {
    list-style: none;
    margin-bottom: 94px;
    padding: 0px;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.title-port {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-port {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--prmary-text-color);
}

